<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaoming.random"
    android:installLocation="preferExternal"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:name=".RandomApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Random.teal">
        <activity
            android:name=".activities.AccountsActivity"

            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".activities.AppMainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LineDetailActivity"
            android:label="@string/weiboDetail"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activities.GalleryActivity"
            android:label="@string/weiboDetail"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activities.UserProfileActivity"
            android:label="@string/oauth_page"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="user" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SendWeiboActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_send_weibo"
            android:windowSoftInputMode="adjustResize"></activity>
    </application>

</manifest>
